@import '../../theme/colors';

.TopNavbar {
    width: 190mm;
    background: #252525;
    position: fixed;
    height: 80px;
    top: 60px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}