{
    "presets": ["next/babel"],
    "plugins": [
        ["module-resolver", {
            "extensions": [".js", ".jsx", ".es", ".es6", ".ts", ".tsx",  ".mjs"],
            "root": ["."],
            "alias": {
              "@component": "./src/component",
              "@colors": "./src/theme/colors"
            }
        }],
        ["styled-components", { "ssr": true }]
        
    ]
}