@import '../../theme/colors';

.TopNavbar {
    width: 200mm;
    background: #252525;
    position: fixed;
    height: 80px;
    top: 60px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;
}

.item {
    color: #787878;
    cursor: pointer;
}

.item:hover {
    color: #efefef;
}

.bgComplete {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.topNavbarCirclePicker {
    background: #fff;
    padding: 25px 0 10px 20px;
    border-radius: 10px;
    position: absolute;
    width: 134px;
    top: 95px;
    left: -32px;
    transition-delay: .1s;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 0px 28px 0px rgba(82,82,82,1);
    box-shadow: 0px 0px 28px 0px rgba(82,82,82,1);
}

.topNavbarCirclePicker::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 10px 10px;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -10px;
    left: 67px;
}

.colorCircle {
    width: 35px;
    height: 35px !important;
    background: red;
    margin: 0 0 0 13px;
    border-radius: 100%;
}

.tonNavbarFelx1 {
    flex: 0.8;
    padding: 10px;
    text-align: center;
}
.tonNavbarFelx2 {
    flex: 1.9;
    padding: 10px;
    text-align: center;
}

.tonNavbarBorderRight {
    border-right: 2px solid #424242;
}

.topNavbarColor {
    height: 100%;
}

.topNavbarTypography {
    height: 100%;
}

// .topNavbarTypography select {
//     width: 130px;
//     height: 30px;
//     cursor: pointer;
//     background: #fff;
//     border: 0;
//     font-size: 14px;
// }

// .topNavbarTypography option {
//     padding: 5px 0;
//     font-size: 14px;
// }

.topNavbarSection {
    height: 100%;
}

.topNavbarSave {
    height: 100%;
}

.topNavbarLoad {
    height: 100%;
}

.topNavbarPreview {
    height: 100%;
}

.topNavbarDownlaod {
    height: 100%;
}

.topPart {
    height: 60%;
}

.topPart i {
    font-size: 32px;
}

.bottomPart {
    height: 40%;
}

.sectionBox {
    display: flex;
    color: $black_light
}
.sectionLeft {
    flex: 1;
    padding: 10px 20px;
}
.sectionRight {
    flex: 1;
    border-left: 1px dashed $border;
    padding: 10px 20px;
}
.sectionItem {
    margin: 5px 0;
}
.sectionItemText {
    margin: 0px 0px 0 15px;
    vertical-align: super;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}