@import '../../theme/colors';

.TopNavbar {
    width: 190mm;
    background: #252525;
    position: fixed;
    height: 80px;
    top: 60px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;
}

.bgComplete {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.topNavbarCirclePicker {
    background: #fff;
    padding: 25px 0 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    transition-delay: .1s;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82,82,82,1);
    -moz-box-shadow: 0px 0px 28px 0px rgba(82,82,82,1);
    box-shadow: 0px 0px 28px 0px rgba(82,82,82,1);
}

.topNavbarCirclePicker::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 10px 10px;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -10px;
    left: 67px;
}

.xxsxsxs {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 100%;
}

.tonNavbarFelx1 {
    flex: 1;
    padding: 10px;
}
.tonNavbarFelx2 {
    flex: 2;
    padding: 10px;
}

.tonNavbarBorderRight {
    border-right: 2px solid #515151;
    height: 100%;
}

.tonNavbarColor {

}

// .topNavbarTypography select {
//     width: 130px;
//     height: 30px;
//     cursor: pointer;
//     background: #fff;
//     border: 0;
//     font-size: 14px;
// }

// .topNavbarTypography option {
//     padding: 5px 0;
//     font-size: 14px;
// }

.topNavbarSection {
    
}

.topNavbarSave {

}

.topNavbarLoad {

}

.topNavbarDownlaod {

}

.topNavbarPreview {

}