@import '../../theme/colors';

.toastBox {
    display: flex;
}

.toastMessage {
    flex: 3;
    padding: 5px;
    color: #fff;
    font-size: 15px;
}

.toastUndoBtn {
    flex: 1;
    background: #000;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
}

.toastUndoBtn:hover {
    background: #032d4f;
}

.Toastify__toast.Toastify__toast--default{
    background: #222;
}
  
.Toastify__progress-bar.Toastify__progress-bar--default{
    background: #000;
}

.Toastify__close-button--default {
    color: #eee;
}