@import "../../src/theme/colors";
@import "../../src/theme/fonts";

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s background ease;
    transition-delay: .2s;
    font-size: 0;
    line-height: 0;
}

.loading_gradient {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
}

.container{
	min-height:297mm;
    width:210mm;
	background: #fff;
    position: relative;
    border: 1px solid #eee;
	margin-left: auto;
	margin-right: auto;
	margin: 70px auto 40px auto;
}

