// color name got from: http://chir.ag/projects/name-that-color/#6195ED

$colors: (
    Crusoe:                      #004711,
    Laurel:                      #719479,
    Pine_Glade:                  #CCCC99,
    Mine_Shaft:                  #3e3e3e,
    MyGray:                      #929292,
    Scorpion:                    #585858,
    Alto:                        #D4D4D4,
    Gallery:                     #EBEBEB,
    White:                       #FFFFFF,
    Pomegranate:                 #F22E2E,
);

$primary: map-get($colors, Crusoe);
$secondary: map-get($colors, Laurel);
$tertiary: map-get($colors, Pine_Glade);
$black_dark: map-get($colors, Mine_Shaft);
$black_light: map-get($colors, Scorpion);
$border: map-get($colors, Alto);
$gray_dark: map-get($colors, MyGray);
$gray: map-get($colors, Gallery);
$white: map-get($colors, White);
$red: map-get($colors, Pomegranate);

/*EXPORT ==============================================================*/
:export { primaryColor: $primary; } //for loader component

