
// font-family: 'Source Sans Pro'
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Josefin Sans'
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Calibri'
@import url('https://fonts.googleapis.com/css?family=Calibri:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Cambria'
@import url('https://fonts.googleapis.com/css?family=Cambria:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Garamond'
@import url('https://fonts.googleapis.com/css?family=Garamond:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Georgia'
@import url('https://fonts.googleapis.com/css?family=Georgia:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Roboto'
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

// font-family: 'Material Icons'
// how to use: <i class="material-icons">add</i>
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

