

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.42857143;
  color: $black_light;
  background-color: $white;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
	color: #aaa;
	cursor: text;
}

.Toastify__toast.Toastify__toast--default{
    background: #222;
}
  
.Toastify__progress-bar.Toastify__progress-bar--default{
    background: #000;
}

.Toastify__close-button--default {
    color: #eee;
}

a {
    color :#2686d4;
}
p {
    margin: 1px 0;
    font-size: 16px;
    line-height: 18px;
}
ul li {
    margin: 2px 0;
}

.sectionTippy {
    background-color: #fff;
    min-width: 500px !important;
    max-width: 600px !important;
    // max-width: 400px;
    // min-height: 250px;
}
.sectionTippy .tippy-arrow {
    color: #fff;
}