.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100%;
    background: #333;
    color: #fff;
    z-index: 2;
}
.homePage  {
    overflow: hidden;
}
.slide {
    height: 100%;
    width: 100%;
    display: flex;
    color: #fff;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    position: absolute;
    overflow: hidden;
}

.slide1 {
    
    // position: relative;
}

.firstImg {
    max-width: 600px;
    height: 85vh;
    margin: 0 auto;
    top: 100%;
    position: relative;
    top: 15vh;
}

.firstImg img {
    width: 100%;
    height: 100%;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.slide2 {
    color: #fff;
    opacity: 0;
    position: absolute;
    width: 400px;
    text-align: left;
    bottom: -100%;
}
.slide2 h2 {
    font-size: 36px;
}
.slide2 p {
    font-size: 20px;
    line-height: 24px;
}

.slide3 {
    color: #fff;
    // display: flex;
    text-align: left;
}
.slide3ImgBox {
    width: 700px;
    bottom: -100%;
    opacity: 0;
    position: absolute;
}
.slide3text {
    position: absolute;
    width: 300px;
    bottom: -100%;
    opacity: 0;
    left: 1000px;
    font-size: 20px;
    line-height: 24px;
}