@import '../../theme/colors';

.insideCon {
    padding: 60px;
}

.underName {
    width: 250px;
    border-top: 2px solid #03A9F4;
    opacity: 0.7;
}

.box {
    margin: 17px 0;
}

.name {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}